@model StokTakip.Models.EntityFramework.Musteriler
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Yeni Müşteri Ekleme Sayfası</h2>

<form class="form-group" method="post">
    <div>
        <label>Müşteri Adı</label>
        @Html.TextBoxFor(p => p.MusteriAd, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.MusteriAd, "", new { @class = "text-danger" })
    </div>
    <div style="margin-top: 15px">
        <label>Müşteri Soyadı</label>
        <input type="text" class="form-control" name="MusteriSoyad" />
    </div>
    <div style="margin-top: 15px">
        <button class="btn btn-info" id="btnMusteriAdd">Ekle</button>
    </div>
    <script>
        $('#btnMusteriAdd').click(function() {
            alert('Müşteri ekleme işlemi yapıldı.');
        });
    </script>
</form>

