
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Yeni Kategori Sayfası</h2>

<form  class="form-group" method="post">
    <div>
        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="KategoriAd"/>
    </div>
    <div style="margin-top: 15px">
        <button class="btn btn-info">Ekle</button>
    </div>
</form>
